/* Use your own code or past solution for Great Idea Web Page CSS here! */

body {
    margin-left: 50px;
    margin-right: 50px
}

nav a {
    color: gray;
    text-decoration: none;
    margin-left: 20px;
  }

nav a:first-child {
    margin-left: 0px;
}
 
nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 50%;
    height: 50px;
    margin-bottom: 20px;
  }

/* nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

  header {
      height: 35%;
      display: flex;
      flex-flow: row;

  }

  header h1 {
    font-size: 70px;
    font-family: inherit;
    text-align: center;
  }
  
  .Started {
    width: 150px;
    height: 40px;
    font: inherit;
    display: flex;
    justify-content: center;
    align-content: center;
    background: light-gray;
  }
  
  h2 {
    font-family: inherit;
  }
    
  header div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    margin: 50px;
  }
  
  header img {
    width: 70%;
  }
  
  .Features-about{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid black;
  }
  
  .Features-about section {
    display: flex;
    flex-flow: row wrap;
    width: 49.5%;
  }
  
  .SPV {
    padding: 20px;
    display: flex;
    justify-content: space-evenly
  }
  .SPV section{
    width: 33%
  }
  
  .Contact {
    padding: 20px;
    border-top: 1px solid black;
  }
  
  footer {
    padding: 20px;
    text-align: center;
  }
  
  .middle-img {
    width: 100%;
  }

  
  @media(max-width: 500px) {
    body nav div{
      display: flex;
      flex-direction: column;
    }
}
